.info{
    background-color: $colorgray;
    padding: 1em;

    &__article{
        background-color: $colorWhite;
        border-radius: 1em;
        border-color: transparent;
        padding: 1em;
        &__image{
            height: 60px;
            width: auto;
        }
    }
}

@media only screen and (min-width: 1000px) {

    .info{
        display: flex;
        justify-content: center;
        &__article{
            width: 50%;
        }
    }

}
