body{
    margin: 0;
}

$backgroudColorPrimary: #ffd7b8;
$backgroudColorStrong: #ff7d19;
$colorgray: #eee;
$colorWhite: white;

@import "_header.scss";
@import "_info.scss";
@import "_features.scss";
@import "_footer.scss";